.notification {
  // opacity: 1;
  // visibility: visible;
  transition: opacity 0.5s ease-in-out;

  margin: 0 30px;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0;
  text-align: center;

  &.success {
    // opacity: 1;
    // visibility: visible;
    background-color: #d4edda;
    color: #155724;
  }

  &.error {
    // opacity: 1;
    // visibility: visible;
    background-color: #f8d7da;
    color: #721c24;
  }
}
