.notification {
  box-sizing: border-box;
  padding: 10px;
  width: 94%;
  // background-color: #d4edda;
  // height: 40px;
  border-radius: 5px;
  margin: 0 auto;

  // display: flex;
  // align-items: center;
  // justify-content: center;

  p {
    margin: 0;
    border-radius: 5px;
    font-size: 12px;
    display: inline;
    height: 100%;
  }

  .xmark-container {
    // height: 20px;
    float: right;
    // position: relative;
    // right: 0;
    // top: 0;

    svg {
      height: 15px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &.success {
    margin-top: 10px;
    color: green;
    background-color: #d4edda;
  }

  &.error {
    color: red;
    background-color: #fde8e9;
  }

  // &.success {
  // opacity: 1;
  // visibility: visible;
  // background-color: #d4edda;
  // color: #155724;
  // background-color: #d4edda;
  // }

  // &.error {
  // opacity: 1;
  // visibility: visible;
  // background-color: #f8d7da;
  // color: #721c24;
  // }
}
