.notification {
  opacity: 0;
  visibility: none;
  transition: opacity 0.5s ease-in-out;

  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  //animation name keyframe
  animation: notification 2s linear;

  &.success {
    // opacity: 1;
    // visibility: visible;
    // background-color: #d4edda;
    // color: #155724;
    background-color: #d4edda;

    @keyframes notification {
      0% {
        opacity: 1;
        visibility: visible;
        background-color: #d4edda;
        color: #155724;
      }
      100% {
        // transform: rotate(360deg);
        height: 0;
        opacity: 0;
        display: none;
        visibility: hidden;
        background-color: #f8d7da;
      }
    }
  }

  &.error {
    opacity: 1;
    visibility: visible;
    background-color: #f8d7da;
    color: #721c24;
  }
}
