.message-container {
  border: 2px solid #e9e9e9;
  border-radius: 5px;
}

.message-container h3 {
  margin: 0;
  color: #3f525c;
  display: block;
  padding: 20px 35px;
  /* padding-left: 30px; */
  font-weight: bold;
}

.message-container span {
  display: block;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.scrollable-div {
  padding: 15px 15px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;

  max-height: 200px;
  height: 200px;
  overflow-y: scroll;
  border: 2px solid #e9e9e9;
  padding: 10px;
}
