<div class="message-container" style="position: relative">
  <h3>{{ title }}</h3>
  <div class="messages">
    <div class="scrollable-div" #scrollContainer>
      <p *ngFor="let log of messages$ | async">
        <span [ngClass]="setSeverityStyle(log.severity)"
          >[{{ log.severity }}] </span
        ><strong>{{ log.source }}</strong
        >: {{ log.message }}
      </p>
    </div>
    <div class="action-message">
      <button type="button" (click)="publishMessage()">
        Publish a Message
      </button>
      <button type="button" (click)="clear()">Clear Messages</button>
    </div>
  </div>
  <app-spinner [isLoading]="isLoading" [message]="message"></app-spinner>
</div>
