.dashboard-topheroes {
  border: 1px solid #d4d4d4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 20px;
  padding: 20p5;

  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }

  .heroes-menu {
    border-radius: 5px;
    /* margin: auto; */
    margin-bottom: 20px;
    max-width: 1000px;
    height: auto;

    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
  }

  button {
    &.selected {
      background-color: #d4d4d4;
    }

    &:hover {
      background-color: #9f9f9f;
      border: none;
    }

    &:active {
      background-color: aliceblue;
      color: #3f525c;
    }

    font-size: 16px;
    padding: 0.5rem;
    background-color: #3f525c;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 70%;
    min-width: 70px;
    margin: 0.5rem auto;
    box-sizing: border-box;

    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
}

@media (min-width: 600px) {
  .dashboard-topheroes {
    button {
      width: 18%;
      box-sizing: content-box;
      padding: 0.8rem;
      font-size: 1.2rem;
      border-radius: 5px;

      &.selected {
        background-color: #d4d4d4;
      }

      &:hover {
        background-color: #9f9f9f;
      }

      &:active {
        background-color: aliceblue;
        color: #3f525c;
      }
    }
  }
}
