<div class="dashboard-topheroes">
  <h2>Top Heroes</h2>
  <div
    class="heroes-menu"
    style="height: auto; min-height: 100px; position: relative"
  >
    <button
      [class.selected]="hero === selectedHero"
      *ngFor="let hero of heroes"
      hero="hero.id"
      (click)="currentSelected(hero)"
    >
      {{ hero.name }}
    </button>
    <app-spinner
      [isLoading]="isLoadingSpinner"
      [message]="spinnerMessage"
    ></app-spinner>
  </div>
  <app-dashboard-hero-details
    *ngIf="hasTopHeroes"
    (heroDeleted)="updateTopHeroes()"
    [selectedHero]="selectedHero"
    [renderHeroDetail]="renderHeroDetail"
  ></app-dashboard-hero-details>
</div>
