.detail-heroe-container {
  height: auto;
  min-height: 200px;

  padding: 10px 15px;
  position: relative;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  .xmark-container {
    width: 100%;
    height: 30px;
  }

  .xmark-container .xmark {
    float: right;
    width: 15px;
    border-radius: 50%;
    padding: 5px;
  }

  .xmark-container .xmark:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .title {
    margin-bottom: 20px;
    h3 {
      display: inline;
      margin: 0;
      padding: 0 20px;
      font-weight: bold;
      color: #104781;
    }

    span {
      display: inline;
      margin: 0;
      // color: #1696a4;
    }
  }

  .hero-detail {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    // align-items: center;

    form {
      border-radius: 8px;
      box-sizing: border-box;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 20px;

      .form-control {
        box-sizing: border-box;
        width: 100%;
        // border-radius: 5px;
        border: none;
        height: 100px;

        width: 100%;
        padding: 20px;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .input-container {
          border: 1px solid #d4d4d4;
          border-radius: 5px;
          height: 80%;

          display: flex;
          align-items: center;
          justify-content: flex-start;

          svg {
            width: 20px;
            height: 20px;
            padding: 10px;
          }

          input {
            box-sizing: border-box;

            font-weight: 300;
            border: none;
            border-left: 1px solid #d4d4d4;
            font-size: 15px;
            padding-left: 10px;
            width: 82%;
            height: 100%;
          }
        }

        select {
          width: 100%;
          height: 48px;

          padding: 0 14px;
          border: none;
          border-left: 1px solid #d4d4d4;
          cursor: pointer;
          font-weight: 300;
          font-weight: 300;
          font-size: 15px;
          background-color: transparent;
        }
      }

      .container-form-button {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        padding: 10px 20px;

        button {
          padding: 0;
          margin: 0;
          border-radius: 5px;
          width: 100%;
          height: 35px;
          background-color: #104781;
          color: #fff;
          font-size: 14px;
          margin: 10px 0;
        }
      }
    }
  }

  .hero-not-found {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2,
    p {
      margin: 5px;
      color: #626262;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media (min-width: 600px) {
  .detail-heroe-container {
    height: auto;

    .hero-detail {
      form {
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 20px;

        .form-control {
          width: 48%;
          border-radius: 5px;
          border: none;
          height: 85px;

          label {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
          }

          .input-container {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            svg {
              width: 20px;
              height: 20px;
              padding: 10px;
            }

            input {
              font-weight: 300;
              border: none;
              border-left: 1px solid #d4d4d4;
              font-size: 15px;
              padding-left: 10px;
              width: 100%;
            }
          }
        }

        .container-form-button {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          padding: 10px 20px;

          button {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 35px;
            background-color: #104781;
            color: #fff;
            font-size: 16px;
            margin: 10px 0;
          }
          .submit-btn {
            color: #fff;
            margin: 10px 0;
            width: 25%;
          }

          .back-btn {
            background-color: #ccc;
            width: 25%;
            margin-left: 20px;
          }
        }
      }
    }

    .hero-not-found {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2,
      p {
        margin: 5px;
      }
    }
  }
}
