<div class="detail-heroe-container" *ngIf="!notFound; else notFoundTemplate">
  <!-- Notificar cuando acabe de cargar el spinner -->
  <div class="hero-detail">
    <div class="title">
      <h3>Edit Hero</h3>
      <app-notification
        [message]="notificationMessage"
      [type]="notificationType"
      ></app-notification>
    </div>
    <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
      <!-- <span><strong>ID</strong> hero.id </span> -->
      <!-- <input type="hidden" formControlName="id" [value]="hero.id" /> -->
      <div class="container-form-control">
        <div class="form-control">
          <label for="hero-name">Hero name</label>
          <div class="input-container name-field">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"
              />
            </svg>
            <input
              id="hero-name"
              placeholder="Hero name"
              formControlName="name"
            />
          </div>
        </div>

        <div class="form-control year">
          <label for="year">year</label>
          <div
            class="input-container select"
            *ngIf="years && years.length > 0"
            style="display: flex; align-items: center"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L64 64C28.7 64 0 92.7 0 128l0 16 0 48L0 448c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-256 0-48 0-16c0-35.3-28.7-64-64-64l-40 0 0-40c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L152 64l0-40zM48 192l352 0 0 256c0 8.8-7.2 16-16 16L64 464c-8.8 0-16-7.2-16-16l0-256z"
              />
            </svg>
            <select
              formControlName="year"
              style="border: none; border-left: 1px solid #d4d4d4"
            >
              <option *ngFor="let y of years" [value]="y">
                {{ y }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-control select-publisher">
          <label for="editorial" style="display: block">Publisher Name</label>
          <div class="input-container select">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M96 0C43 0 0 43 0 96L0 416c0 53 43 96 96 96l288 0 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64c17.7 0 32-14.3 32-32l0-320c0-17.7-14.3-32-32-32L384 0 96 0zm0 384l256 0 0 64L96 448c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16zm16 48l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
              />
            </svg>
            <select formControlName="publisher">
              <option *ngFor="let p of this.publishers$ | async" [value]="p.id">
                {{ p.name }}
              </option>
            </select>
            <!-- <app-spinner></app-spinner> -->
          </div>
        </div>
      </div>
      <div class="container-form-button">
        <button class="submit-btn" type="button" (click)="onSubmit()">
          Update
        </button>
        <button class="back-btn" type="button" (click)="goBack()">
          Cancel
        </button>
      </div>
    </form>
    <app-spinner
      [isLoading]="isLoadingSpinner"
      [message]="spinnerMessage"
    ></app-spinner>
  </div>
</div>

<ng-template #notFoundTemplate>
  <div class="detail-heroe-container" style="position: relative">
    <div class="hero-not-found">
      <h2>Hero Not Found</h2>
      <p>The hero you are looking for does not exist.</p>
    </div>
  </div>
</ng-template>
