<div class="hero-component-container">
  <h2>List of Heroes</h2>
  <app-search-bar></app-search-bar>
  <div
    class="my-heroes-container"
    *ngIf="this.heroes.length > 0; else noHeroes"
  >
    <ul class="heroes">
      <li *ngFor="let hero of this.heroes">
        <a
          [ngClass]="{ 'deleted-effect': isDeleted }"
          routerLink="/detail/{{ hero.id }}"
        >
          <span class="badge">{{ hero.id }}</span> {{ hero.name }}
        </a>
      </li>
    </ul>
    <p style="padding: 10px; font-size: 14px; color: black">
      Total Registers: <span>{{ totalRegisters }}</span>
    </p>
    <app-spinner
      [isLoading]="isLoadingSpinner"
      [message]="spinnerMessage"
    ></app-spinner>
  </div>
</div>

<ng-template #noHeroes>
  <div class="my-heroes-container notFoundHero">
    <p>Not found Heroes</p>
  </div>
  <p
    style="
      padding: 20px 0;
      padding-left: 45px;
      font-size: 14px;
      color: #353535;
      font-weight: bold;
    "
  >
    Total registers: <span>{{ totalRegisters }}</span> finded
  </p>
</ng-template>
