/* Formulario centrado */
.form-container {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #d4d4d4;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  min-height: 200px;
  height: auto;

  span {
    margin-left: 30px;
    font-weight: bold;
  }

  .actions {
    padding: 20px;
    margin: 0;
    text-align: left;
    // background-color: #3f525c;

    a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #104781;
      color: white;
      font-size: 15px;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;

      &:hover {
        background-color: #0056b3;
      }
    }

    :nth-child(2) {
      margin-left: 20px;
    }
  }

  form {
    // border: 1px solid #d4d4d4;
    padding: 0 30px;
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-sizing: border-box;

    div {
      width: 100%;
      height: auto;

      label {
        margin-bottom: 10px;
        width: 20%;
        align-content: center;
        width: 100%;
        width: 100%;
        display: block;
        font-weight: 300;
      }

      div {
        width: 99%;
        height: 50px;
        display: flex;
        justify-items: center;
        align-items: center;
        border: 1px solid #d4d4d4;
        border-radius: 5px;

        svg {
          width: 10%;
          height: 20px;
          padding-right: 10px;
          // border-right: 1px solid #d4d4d4;
        }

        input {
          
          padding: 8px;
          font-size: 16px;
          border: 1px solid #ccc;
          color: #264d73;
          border-radius: 4px;
          width: 100%;
          border: none;
          border-left: 1px solid #d4d4d4;
        }
      }
    }

    app-select {
      max-width: 415px;
      width: 45%;
    }

    .form-control {
      width: 100%;
      label {
        font-weight: 300;
      }

      .year-field {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        padding: 1px;
        transition: outline 0.3s ease;

        &:hover {
          cursor: pointer;
          outline: 1px solid #0056b3;
        }

        select {
          cursor: inherit;
          width: 100%;
          height: 50px;
          
          border-radius: 5px;

          border: none;
          border-left: 1px solid #d4d4d4;
          padding-left: 10px;
          &:hover {
            background-color: inherit;
          }
        }
      }

      .publisher-field {
        width: 100%;
        box-sizing: border-box;
        padding-right: 10px;

        transition: outline 0.3s ease;

        &:hover {
          cursor: pointer;
          outline: 1px solid #0056b3;
        }

        &:focus {
          cursor: pointer;
          outline: 2px solid #264d73;
        }

        select {
          
          width: 100%;
          height: 100%;
          border: none;
          border-left: 1px solid #d4d4d4;
        }
      }
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #104781;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: #375069;
        color: #ecf0f1;
      }
    }
  }
}

@media (min-width: 600px) {
  .form-container {
    padding: 20px 20px;
    // height: 20px;

    form {
      display: flex;
      flex-wrap: wrap;

      .form-control {
        width: 50%;
        padding: 10px 0;
        
        label {
          font-weight: 300;
          align-content: center;
          text-align: center;
          width: 50%;
        }

        .name-field {
          width: 90%;
          padding: 1px;
          transition: outline 0.3s ease;

          &:hover {
            outline: 1px solid #0056b3;
          }

          display: flex;
          align-items: center;
          justify-content: center;

          input {
            height: 100%;
          }
        }

        .year-field {
          input {
            width: 100%;
            font-weight: bold;
          }

          select {
            border-radius: 0;
            width: 100%;
            height: 50px;
            
            border: none;
            border-left: 1px solid #d4d4d4;
          }
        }

        .publisher-field {
          width: 90%;
          box-sizing: border-box;
          padding-right: 10px;
          outline: green;
          select {
            
            width: 100%;
            height: 100%;
            border: none;
            border-left: 1px solid #d4d4d4;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      app-select {
        max-width: 415px;
        width: 45%;
      }

      button {
        width: 20%;

        padding: 10px;
        background-color: #104781;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
          color: #ecf0f1;
        }
      }
    }

    div {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
    }
  }
}
