.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  border-top: 1px solid #d4d4d4;

  list-style: none;
  text-decoration: none;
  width: 100%;
  margin: 0;
  text-align: left;
  display: flex;

  justify-content: center;
  align-items: center;

  // background-color: #3f525c;

  a {
    &.selected {
      opacity: 0.5;

      svg {
        width: 21px;
      }
    }

    &:hover {
      opacity: 0.5;
    }

    padding: 10px 20px;
    background-color: none;
    color: #000;
    font-size: 15px;
    text-decoration: none;
    border-radius: 8px;

    // flex: 1 1 50%; /* Permite que cada div ocupe el 45% del ancho del contenedor */
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      width: 20px;
    }

    span {
      font-size: 14px;
    }
  }
}

@media (min-width: 600px) {
  .actions {
    border-top: none;
    padding: 10px 30px;
    box-sizing: border-box;
    position: static;
    background-color: transparent;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: flex-start;

    a {
      svg {
        width: 26px;
      }

      span {
        font-size: 15px;
      }

      &.selected {
        opacity: 0.5;

        svg {
          width: 25px;
        }
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
