.dashboard-hero-detail {
  padding: 10px 30px;
  max-height: 156px;
  transition: max-height 1s ease-out;

  .action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  a {
    text-decoration-line: none;
    background-color: #eee;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 10px;

    svg {
      width: 20px;
    }
  }

  button {
    padding: 10px;
    font-size: 10px;
    border: none;
    border-radius: 8px;
    outline: #d4d4d4;
    padding: 10px;
    margin: 0;
    background-color: red;
    color: #fff;
    position: relative;
    
    svg {
      width: 15px;
      fill: white;
    }
  }
}

.fade-out {
  animation: fadeout 0.3s ease-in-out forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: 600px) {
  .dashboard-hero-detail {
    padding: 10px 0;
    .action {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
}

.clo {
  max-height: 0;
}
